<div class="row">
	<% if current_user.id != @user.id %>
		<h2> <%= @user.first_name %> <%= @user.last_name %>'s Playlist </h2>
	<% else %> 
		<h2> Your Playlist </h2>
	<% end %>
	<table class="table table-striped">
	<thead>
		<tr>
			<td> Artist </td>
			<td> Title </td>
			<td> Times Added </td>
		</tr>
	</thead>

	<tbody>
	
	<% @user.songs_liked.group("song_id").each do | song | %>
		<tr>
			<td><%= song.artist %> </td>
			<td> <%= song.title %></td>
			
			<td> <%  %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>